*{
  font-family: 'League Spartan', sans-serif
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Manuale', serif;
}

.danger{
  color: $danger-bg-color !important;
  &:hover{
    color: $danger-color--hover !important;
  }
}