.header {
  height: 10vh;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: lighten($primary-bg-color, 8);

  .logo {
    display: flex;
    align-items: center;
    margin: 1em 2em;

    img {
      width: 25px;
    }
  }

  .steam-image {
    margin-left: auto;
  }

  &__profile {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;

    &-image {
      padding: 0 2em;

      img {
        width: 45px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    &-info {
      position: absolute;
      padding: 2em;
      top: 100%;
      right: 25%;
      color: $primary-color;
      border: $primary-border-color solid 1px;
      background-color: lighten($primary-bg-color, 8);
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);

      h3 {
        letter-spacing: 3px;
      }
    }
  }

  .steam-image {
    display: flex;
    align-items: center;
    padding: 0 2em;
    // width: 150px;
  }
}

@media screen and (min-width: 769px) {
  .header {
    .logo {
      img {
        width: 100px
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    .logo {
      margin: 1em 2em;
    }
  }
}