<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Calystoa is a web service, that allows you to create YOUR perfect online article about your favourite games.">
  <title>Calystoa | Home</title>
</head>
<!-- Styles -->
<link rel="stylesheet" href="/css/main.css">
<!-- Scripts -->
<script type="module" src="/js/script.js" defer></script>

<body class="page page--home">
  <%- include('./partials/header.ejs') %>
    <main>
      <section>
        <h1 class="animate onscroll text rightwards">Make YOUR perfect steam game article !</h1>
      </section>
      <section class="">
        <article class="home__content-container animate onscroll container rightwards">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui ullam itaque maiores deleniti assumenda cum
          adipisci animi delectus iusto, voluptas consequuntur deserunt accusamus mollitia debitis eum laboriosam quo
          praesentium similique aut quas incidunt non explicabo? Dicta nihil deleniti cumque nemo fugiat cupiditate,
          pariatur labore eveniet sint soluta aut? Deserunt tenetur nobis debitis eius reprehenderit eos adipisci
          consequatur cupiditate totam non laboriosam incidunt, assumenda provident architecto veniam odit. Placeat
          cupiditate nam corrupti ullam iste nemo rem quia consequuntur ex animi molestias odit dicta aut pariatur
          repudiandae quas, facere sed sit alias ratione et a labore? Fugit delectus quam unde assumenda reiciendis.
        </article>
      </section>
      <section class="">
        <article class="home__content-container animate onscroll container leftwards">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui ullam itaque maiores deleniti assumenda cum
          adipisci animi delectus iusto, voluptas consequuntur deserunt accusamus mollitia debitis eum laboriosam quo
          praesentium similique aut quas incidunt non explicabo? Dicta nihil deleniti cumque nemo fugiat cupiditate,
          pariatur labore eveniet sint soluta aut? Deserunt tenetur nobis debitis eius reprehenderit eos adipisci
          consequatur cupiditate totam non laboriosam incidunt, assumenda provident architecto veniam odit. Placeat
          cupiditate nam corrupti ullam iste nemo rem quia consequuntur ex animi molestias odit dicta aut pariatur
          repudiandae quas, facere sed sit alias ratione et a labore? Fugit delectus quam unde assumenda reiciendis.
        </article>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>