@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Manuale&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #111111;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: #28CCC1;
  transition: color 0.3s ease;
}
a:hover {
  color: #22928b;
}

li {
  list-style: none;
}

hr {
  border: 1px solid #1B9D8C;
}

img {
  max-width: 100%;
}

* {
  font-family: "League Spartan", sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Manuale", serif;
}

.danger {
  color: #CD5C5C !important;
}
.danger:hover {
  color: #AC3535 !important;
}

.hidden {
  display: none;
}

.animated-container, .animated-container--rightwards, .animated-container--leftwards {
  opacity: 0;
  transition: 0;
}
.animated-container--leftwards {
  transform: translateX(-40%);
}
.animated-container--rightwards {
  transform: translateX(40%);
}
.animated-container--done {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.5s ease;
}

.animated-span, .animated-span--rightwards, .animated-span--leftwards, .animated-span--downwards, .animated-span--upwards {
  display: inline-block;
  margin: 0 0.1em;
  transition: 0;
  opacity: 0;
}
.animated-span--upwards {
  transform: translateY(40%);
}
.animated-span--downwards {
  transform: translateY(-40%);
}
.animated-span--leftwards {
  transform: translateX(-40%);
}
.animated-span--rightwards {
  transform: translateX(40%);
}
.animated-span--done {
  transform: translateY(0%);
  transition: 0.5s ease;
  opacity: 1;
}

.animated-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  transition: width 0.5s ease;
  background-color: #F2F2F2;
}
.animated-underline--done::after {
  width: 100%;
}

.header {
  height: 10vh;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #252525;
}
.header .logo {
  display: flex;
  align-items: center;
  margin: 1em 2em;
}
.header .logo img {
  width: 25px;
}
.header .steam-image {
  margin-left: auto;
}
.header__profile {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__profile-image {
  padding: 0 2em;
}
.header__profile-image img {
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.header__profile-info {
  position: absolute;
  padding: 2em;
  top: 100%;
  right: 25%;
  color: #F2F2F2;
  border: #1B9D8C solid 1px;
  background-color: #252525;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);
}
.header__profile-info h3 {
  letter-spacing: 3px;
}
.header .steam-image {
  display: flex;
  align-items: center;
  padding: 0 2em;
}

@media screen and (min-width: 769px) {
  .header .logo img {
    width: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .header .logo {
    margin: 1em 2em;
  }
}
.footer {
  min-height: 10vh;
  background-color: #252525;
  padding: 1em;
  color: #F2F2F2;
}
.footer__content {
  padding: 2em 0;
  width: 60%;
  margin: auto;
  text-align: center;
}
.footer__content picture {
  display: flex;
  justify-content: center;
  padding: 0 0 1em 0;
}
.footer__content picture img {
  width: 30px;
}
.footer__content small {
  text-align: center;
}
.footer__column {
  padding: 2em 0;
}

@media screen and (min-width: 769px) {
  .footer__content {
    display: flex;
  }
  .footer__content picture {
    display: block;
  }
  .footer__content picture img {
    width: 160px;
  }
  .footer__column {
    width: 50%;
    padding: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .footer .logo {
    margin: 1em 2em;
  }
}
.page {
  color: #F2F2F2;
}
.page main {
  min-height: 90vh;
  padding: 0 0 3em 0;
}
.page main h1 {
  padding: 1em;
  display: inline-block;
}

.page--home {
  color: #F2F2F2;
  text-align: center;
}
.page--home main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.page--home main section {
  width: 60%;
  height: 88.3vh;
  display: flex;
  align-items: center;
  border-top: #1B9D8C solid 2px;
}
.page--home main section:nth-child(1) {
  border-top: none;
}
.page--home h1 {
  font-size: 2.4em;
  padding: 0.5em;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .page--home h1 {
    font-size: 4em;
  }
}
.profile-navigation {
  background-color: #303030;
  padding: 1em;
  text-align: end;
}
.profile-content {
  text-align: center;
}
.profile-content-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.profile-content-meta h1 {
  font-weight: 600;
}
.profile-content-meta img {
  border-radius: 50%;
}

#articles__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 2em;
}

.article__snippet {
  width: 100%;
  position: relative;
  border: 2px solid #1B9D8C;
}
.article__snippet img {
  width: 100%;
}
.article__snippet-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.article__snippet-content {
  padding: 0.5em 1.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article__snippet-content a {
  display: inline-block;
  width: unset;
}
.article__snippet-description {
  padding: 0.5em 0;
  color: white;
  line-height: 1.4em;
}
.article__snippet-game {
  margin-left: auto;
  text-align: flex-end;
  color: white;
}
.article__snippet-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  gap: 2em;
}
.article__snippet-actions i {
  font-size: 1.2em;
}

.no-article {
  padding: 4em;
}

@media screen and (min-width: 768px) {
  .profile-content-meta {
    justify-content: flex-start;
    padding: 1em 3em;
  }
  .profile-content-meta img {
    width: 100px;
  }
  .article__snippet {
    flex: 0 calc(50% - 1em);
  }
}
@media screen and (min-width: 1024px) {
  #articles__wrapper {
    text-align: start;
  }
  .article__snippet {
    flex: 0 calc(33% - 1em);
  }
  .article__snippet-wrapper {
    flex-direction: row;
  }
  .article__snippet-content {
    width: 50%;
  }
}
@media screen and (min-width: 1624px) {
  .profile-content-meta img {
    width: 130px;
  }
  .article__snippet {
    flex: 0 calc(25% - 1em);
  }
  .article__snippet-description {
    padding: 1em 0;
  }
}
.page--article .banner,
.page--edit .banner {
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.page--article .playedHours,
.page--edit .playedHours {
  text-align: center;
  padding: 1em 3em;
  color: #999999;
}
.page--article .container,
.page--edit .container {
  display: flex;
  flex-direction: column;
}
.page--article .container .column,
.page--edit .container .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  width: 100%;
}
.page--article .container .column__align--start,
.page--edit .container .column__align--start {
  align-items: flex-start;
}
.page--article .container .column__align--center,
.page--edit .container .column__align--center {
  align-items: center;
  text-align: center;
}
.page--article .container .column__align--end,
.page--edit .container .column__align--end {
  align-items: flex-end;
}
.page--article .container__width--full,
.page--edit .container__width--full {
  width: 100%;
}
.page--article .container__width--half,
.page--edit .container__width--half {
  width: 100%;
  margin: auto;
}
.page--article .container__padding--none,
.page--edit .container__padding--none {
  padding: 0;
}
.page--article .container__padding--small,
.page--edit .container__padding--small {
  padding: 1em;
}
.page--article .container__padding--medium,
.page--edit .container__padding--medium {
  padding: 2em;
}
.page--article .container__padding--large,
.page--edit .container__padding--large {
  padding: 4em;
}
.page--article .bold,
.page--edit .bold {
  font-weight: bold;
}
.page--article .underline,
.page--edit .underline {
  text-decoration: underline;
}
.page--article .italic,
.page--edit .italic {
  font-style: italic;
}

.page--article .container {
  margin-bottom: 2em;
}
.page--article h1,
.page--article h2,
.page--article h3,
.page--article h4,
.page--article h5,
.page--article h6,
.page--article p {
  margin: 0.2em;
}

.page--edit {
  position: relative;
  min-height: 100vh;
}
.page--edit .container--editor {
  position: relative;
  border: solid 2px #0c463e;
  transition: border-color 0.2s ease-in-out;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.page--edit .container--editor .column {
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  border: solid 1px #0c463e;
}
.page--edit .container--editor:hover {
  border-color: #1B9D8C;
}
.page--edit .container--new {
  border: #1B9D8C solid 2px;
  padding: 1em;
}
.page--edit .container--new .option {
  text-align: center;
  padding: 1em;
}
.page--edit .column:hover {
  border: solid 1px #1B9D8C;
}
.page--edit .content {
  margin: 1em 0;
  display: inline-block;
  background-color: #111111;
  color: #F2F2F2;
  box-shadow: none;
  border: solid 1px #0c463e;
  transition: border 0.2s ease-in-out;
  padding: 1em;
  resize: none;
  width: 80%;
  min-height: 150px;
}
.page--edit .content--new {
  border: #1B9D8C solid 2px;
  padding: 1em;
}
.page--edit .content--new .option {
  text-align: center;
  padding: 1em;
}
.page--edit .content__textarea {
  border: #0c463e solid 2px;
  background-color: #111111;
  color: #F2F2F2;
  padding: 1em;
  font-size: 1.2em;
}
.page--edit .content__textarea::-webkit-scrollbar {
  width: 10px;
}
.page--edit .content__textarea::-webkit-scrollbar-thumb {
  background-color: #1B9D8C;
}
.page--edit .content__textarea::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-left: solid 2px #1B9D8C;
}
.page--edit .content:hover, .page--edit .content:focus, .page--edit .content:active {
  border-color: #1B9D8C;
}
.page--edit .content.h1, .page--edit .content.h2, .page--edit .content.h3, .page--edit .content.h4, .page--edit .content.h5, .page--edit .content.h6 {
  padding: 1em;
  display: inline-block;
}
.page--edit .content.h1 {
  font-size: 2em;
}
.page--edit .content.h2 {
  font-size: 1.7em;
}
.page--edit .content.h3 {
  font-size: 1.6em;
}
.page--edit .content.h4 {
  font-size: 1, 5em;
}
.page--edit .content.h5 {
  font-size: 1, 4em;
}
.page--edit .content.h6 {
  font-size: 1, 3em;
}
.page--edit .content.p {
  font-size: 1.2em;
}
.page--edit .add-new-content {
  padding: 0 1em;
  margin: 0.5em 0;
  text-align: right;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}
.page--edit .add-new-content .button {
  transition: border-color 0.2s ease-in-out;
  border: solid 1px #0c463e;
}
.page--edit .submit {
  border-radius: 25%;
  cursor: pointer;
  padding: 2em;
  background-color: #1B9D8C;
  color: #F2F2F2;
  border: solid 2px #F2F2F2;
  margin: 0 3em;
  transition: background-color, 0.3s ease-out;
}
.page--edit .submit:hover {
  background-color: #157a6d;
}
.page--edit .button,
.page--edit .label {
  display: inline-block;
  background-color: #111111;
  padding: 1em;
  margin: 0.5em 0;
  border: solid 1px #1B9D8C;
  color: #F2F2F2;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.page--edit .button:hover,
.page--edit .label:hover {
  background-color: #1e1e1e;
}
.page--edit .button--danger,
.page--edit .label--danger {
  background-color: #CD5C5C;
  color: #FFFFFF;
  border-color: #CD5C5C;
}
.page--edit .button--danger:hover,
.page--edit .label--danger:hover {
  background-color: #AC3535;
  color: #FFFFFF;
}
.page--edit .label.selected {
  background-color: #F2F2F2;
  color: #111111;
}
.page--edit .label.selected:hover {
  background-color: #cccccc;
}
.page--edit .add-new-container {
  text-align: end;
  margin: 1em auto;
  width: 50%;
}
.page--edit .add-new-container button {
  padding: 1em;
  font-size: 1em;
  background-color: #111111;
  border: solid 1px #1B9D8C;
  color: #F2F2F2;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: auto;
}
.page--edit .add-new-container button:hover {
  background-color: #1e1e1e;
}
.page--edit .option {
  text-align: center;
}

.container-details {
  position: fixed;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 30vh;
  width: 100%;
  top: 10%;
  gap: 5em;
  padding: 1em;
  right: 0%;
  background-color: #1e1e1e;
  transition: right 0.3s ease-in-out;
  z-index: 2;
}
.container-details__close {
  position: absolute;
  top: 0;
  padding: 1em;
  cursor: pointer;
}
.container-details::-webkit-scrollbar {
  width: 10px;
}
.container-details::-webkit-scrollbar-thumb {
  background-color: #1B9D8C;
}
.container-details::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}
.container-details .container__options,
.container-details .column__options,
.container-details .content__options {
  display: flex;
  align-items: center;
  border-left: solid 2px #1B9D8C;
  border-right: solid 2px #1B9D8C;
  padding: 0.5em;
  gap: 2em;
}
.container-details .container__options .container-details__title,
.container-details .column__options .container-details__title,
.container-details .content__options .container-details__title {
  display: none;
}
.container-details .container__options .container-details__option,
.container-details .column__options .container-details__option,
.container-details .content__options .container-details__option {
  display: flex;
  gap: 3em;
  align-items: center;
  padding: 0 2em;
  flex-direction: column;
  min-width: 300px;
}
.container-details .container__options .container-details__option .options,
.container-details .column__options .container-details__option .options,
.container-details .content__options .container-details__option .options {
  display: flex;
}

@media screen and (min-width: 769px) {
  .page--article .banner,
.page--edit .banner {
    height: 65vh;
  }
  .page--article .playedHours,
.page--edit .playedHours {
    text-align: unset;
  }
  .page--article .container,
.page--edit .container {
    flex-direction: row;
    gap: 2em;
  }
  .page--article .container__width--half,
.page--edit .container__width--half {
    width: 50%;
  }
  .page--article .container .column,
.page--edit .container .column {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .container-details {
    width: 22%;
    height: 90vh;
    gap: 2em;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .container-details__close {
    right: 0;
  }
  .container-details::-webkit-scrollbar-track {
    border-left: solid 2px #1B9D8C;
  }
  .container-details .container__options,
.container-details .column__options,
.container-details .content__options {
    border: none;
    flex-direction: column;
  }
  .container-details .container__options .container-details__title,
.container-details .column__options .container-details__title,
.container-details .content__options .container-details__title {
    display: block;
  }
  .container-details .container__options .container-details__option,
.container-details .column__options .container-details__option,
.container-details .content__options .container-details__option {
    display: block;
    padding: unset;
    min-width: unset;
    text-align: center;
  }
  .container-details .container__options .container-details__option .options,
.container-details .column__options .container-details__option .options,
.container-details .content__options .container-details__option .options {
    display: block;
  }
  .container-details .container__options,
.container-details .column__options {
    border-bottom: solid 2px #1B9D8C;
  }
  .column .add-new-content {
    opacity: 0;
  }
  .column:hover .add-new-content {
    opacity: 1;
  }
  .column:hover .button {
    border-color: #1B9D8C;
  }
}
.page--build main form {
  border: #1B9D8C 5px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  width: 80%;
  margin: auto;
  font-size: 1.2em;
}
.page--build main form input,
.page--build main form textarea,
.page--build main form select {
  width: 80%;
  padding: 1em;
  margin: 1em 0;
  font-size: 0.8em;
}
.page--build main form input[type=submit] {
  cursor: pointer;
  background-color: #28CCC1;
  color: #F2F2F2;
  transition: background-color, 0.3s ease-in;
}
.page--build main form input[type=submit]:hover {
  background-color: #22928b;
}
.page--build main form select {
  cursor: pointer;
  background-color: #F2F2F2;
  color: black;
}
.page--build main form select:hover {
  background-color: #dedede;
}
.page--build main form textarea {
  height: 4em;
}
.page--build main form label {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .page--build main form {
    width: 50%;
  }
  .page--build main form input,
.page--build main form textarea,
.page--build main form select {
    width: 60%;
  }
}