.page--home {
  color: $primary-color;
  text-align: center;

  main {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    section {
      width: 60%;
      height: calc(100vh - 11.7vh);
      display: flex;
      align-items: center;
      border-top: $primary-border-color solid 2px;

      &:nth-child(1) {
        border-top: none;
      }
    }


  }

  h1 {
    font-size: 2.4em;
    padding: .5em;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
  .page--home {
    h1 {
      font-size: 4em;
    }
  }
}

@media screen and (min-width: 1624px) {}