.profile {
  &-navigation {
    background-color: lighten($primary-bg-color, 12);
    padding: 1em;
    text-align: end;
  }

  &-content {
    text-align: center;

    &-meta {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em;

      h1 {
        font-weight: 600;
      }

      img {
        border-radius: 50%;
      }
    }
  }
}

#articles__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 2em;
}

.article__snippet {
  width: 100%;
  position: relative;
  border: 2px solid $primary-border-color;

  img {
    width: 100%;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  &-content {
    padding: .5em 1.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      display: inline-block;
      width: unset;
    }
  }

  &-description {
    padding: .5em 0;
    color: white;
    line-height: 1.4em;
  }

  &-game {
    margin-left: auto;
    text-align: flex-end;
    color: white;
    // padding: 0 1em;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    gap: 2em;

    i {
      font-size: 1.2em;
    }
  }
}

.no-article {
  padding: 4em;
}

@media screen and (min-width: 768px) {
  .profile {
    &-content {
      &-meta {
        justify-content: flex-start;
        padding: 1em 3em;

        img {
          width: 100px;
        }
      }
    }
  }

  .article__snippet {
    flex: 0 calc(50% - 1em);
  }
}

@media screen and (min-width: 1024px) {
  #articles__wrapper {
    text-align: start;
  }

  .article__snippet {
    flex: 0 calc(33% - 1em);

    &-wrapper {
      flex-direction: row;
    }

    &-content {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1624px) {
  .profile {
    &-content {
      &-meta {
        img {
          width: 130px;
        }
      }
    }
  }

  .article__snippet {
    flex: 0 calc(25% - 1em);

    &-description {
      padding: 1em 0;
    }
  }
}