.animated-container{
  opacity: 0;
  transition: 0;

  &--leftwards {
    @extend .animated-container;
    transform: translateX(-40%);
  }

  &--rightwards {
    @extend .animated-container;
    transform: translateX(40%);
  }

  &--done{
    transform: translateY(0%);
    opacity: 1;
    transition: .5s ease;
  }
}

.animated-span {
  display: inline-block;
  margin: 0 .1em;
  transition: 0;
  opacity: 0;

  &--upwards {
    @extend .animated-span;
    transform: translateY(40%);
  }

  &--downwards {
    @extend .animated-span;
    transform: translateY(-40%);
  }

  &--leftwards {
    @extend .animated-span;
    transform: translateX(-40%);
  }

  &--rightwards {
    @extend .animated-span;
    transform: translateX(40%);
  }

  &--done {
    transform: translateY(0%);
    transition: .5s ease;
    opacity: 1;
  }
}
.animated-underline{
  &::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    transition: width .5s ease;
    background-color: $primary-color;
  }
  &--done::after{
    width: 100%;
  }
}

