// Standards
$primary-bg-color: #111111;
$primary-color: #F2F2F2;
// Links
$primary-link-color: #28CCC1;
$primary-link-hover-color: #22928b;
// Border colors
$primary-border-color: #1B9D8C;
// Danger button
$danger-color: #FFFFFF;
$danger-bg-color: #CD5C5C;
$danger-color--hover: #AC3535;