* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: $primary-bg-color;
  min-height: 100vh;
  position: relative;
}


a {
  text-decoration: none;
  color: $primary-link-color;
  transition: color 0.3s ease;

  &:hover {
    color: $primary-link-hover-color;
  }
}

li {
  list-style: none;
}

hr {
  border: 1px solid $primary-border-color;
}

img {
  max-width: 100%;
}